[Unit]
Description=Muse script
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/bin/bash -c "source /home/openhub/anaconda3/etc/profile.d/conda.sh && conda activate muse && /home/openhub/MUSE/QuickStart.sh start"
ExecStop=/bin/bash -c "source /home/oenhub/anaconda3/etc/profile.d/conda.sh && conda activate muse && /home/openhub/MUSE/QuickStart.sh stop"
WorkingDirectory=/home/openhub/MUSE/
StandardOutput=journal
StandardError=journal
Restart=always
User=openhub

[Install]
WantedBy=multi-user.target
