[Unit]
Description=MUSE Sync Data Service
DefaultDependencies=no
After=network.target

[Service]
Type=oneshot
ExecStart=/home/openhub/MUSE/sync.sh
TimeoutSec=36000

[Install]

