[Unit]
Description=gpsd Logger Service
Wants=gpsd.service
After=network-online.target gpsd.service

[Service]
ExecStart=/home/openhub/MUSE/communication/gpsd_exporter/.venv/bin/python /home/openhub/MUSE/communication/gpsd_exporter/gpsd_exporter.py
Restart=on-failure
RestartSec=10
User=openhub
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
