[Unit]
Description=gpsd Logger Service
Wants=gpsd.service
After=network-online.target gpsd.service

[Service]
ExecStart=/usr/bin/python3 /home/openhub/MUSE/communication/gpsd_exporter/gpsd_exporter.py
Restart=always
RestartSec=10
User=openhub
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
