[Unit]
Description=Lidar Service
After=network.target

[Service]
User=openhub
ExecStartPre=/home/openhub/lidar/build/control /home/openhub/lidar/config.json start
ExecStart=/home/openhub/lidar/build/acquisition /home/openhub/lidar/config.json 20 %i
ExecStopPost=/home/openhub/lidar/build/control /home/openhub/lidar/config.json stop
Restart=on-failure

[Install]
WantedBy=multi-user.target