[Unit]
Description=Traceroute Logger Service
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/openhub/MUSE/communication/iperf/iperf_logger.py -i 60 130.104.229.74
Restart=always
User=openhub
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
